<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="wireframe::head">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>alma</title>
</head>


<body onload="replaceDatesWithNiceStuff();makeBars()">
<div th:replace="wireframe :: header"></div>
<span th:text="${device.getId()}" id="deviceid" hidden></span>
<script defer type="text/javascript" th:unless="${session.user.isKiadhat()}" th:src="@{~/static/singlerequestbuttondisabler.js}"></script>
<script defer type="text/javascript" th:if="${session.user.isKiadhat()}" th:src="@{~/static/wunderedit.js}"></script>
<div class="container">
    <div class="alert alert-primary" role="alert" th:if="${message}" th:text="${message}"></div>
    <h1 th:text="${device.getName()}"></h1>
    <i>Megjegyzés: Alább egy random cuki kutya látható. Ide majd a cucc fotója jön, de azt még nem írtam meg xd</i>
    <div class="container d-flex p-2 flex-sm-wrap" style="display: flex;">
        <img src="https://placedog.net/300/300?random" alt="Itt egy kutya kéne hogy legyen" class="rounded">
        <div class="container" style="display: flex; flex-direction: column;">
            <i th:text="#{deviceProfile.description}">Leírás:</i>

            <span th:text="${device.getDescription()}">Ez egy remek mosópor</span>
            <span th:if="${device.isKiadva()}" style="margin-top: auto;" th:text="#{deviceProfile.out}">Kiadva</span>
            <span th:unless="${device.isKiadva()}" style="margin-top: auto;" th:text="#{deviceProfile.in}">Műhelyben</span>
            <div class="container d-flex p-2 flex-wrap" th:if="${session.user.isKiadhat()}">
                <a th:if="${device.isKiadva()}" class="btn btn-success" style="margin: fill;"
                   th:href="${'/loan/return/'+lastloanid}" th:text="#{deviceProfile.takeBack}">
                    Visszavesz
                </a>
                <a th:unless="${device.isKiadva()}" style="margin: fill;" class="btn btn-primary"
                   th:href="${'/loan/new/'+device.getId()}" th:text="#{deviceProfile.loanOut}">
                    Kiadás
                </a>
                <a th:unless="${device.isKiadva()}" style="margin: fill;" th:href="${'/loan/new/'+device.getId()+'/'+session.user.getId()}" class="btn btn-success">
                    Kivétel
                </a>
                <a th:href="${'/device/edit/'+device.getId()}" style="margin: fill;" class="btn btn-secondary">
                    <i class="fas fa-pen" aria-hidden="true"></i>
                </a>
                <a th:href="${'/device/delete/'+device.getId()}" style="margin: fill;" class="btn btn-danger">
                    <i class="fas fa-trash" aria-hidden="true"></i>
                </a>
            </div>
            <div class="container" style="margin-top: auto;" th:unless="${session.user.isKiadhat()}">
                <a th:href="${'/loan/request/'+device.getId()}" id="requestButton"
                   class="btn btn-primary" style="margin: auto;" th:text="#{deviceProfile.request}">
                    Rekvesztálás
                </a>
            </div>
        </div>
    </div>
    <div class="container" th:if="${session.user.isKiadhat()}">
        <h2>Statisztika</h2>
        <div class="container" style="display:flex;flex-flow: row wrap">
            <span style="margin: auto;" th:text="#{deviceProfile.loanCnt(${device.getLoanEntities().size()})}">Kölcsönzések száma: 3 </span>
            <span style="margin: auto;" th:text="#{deviceProfile.loanTotalTime(${{device.getTotalLoanTime()}})}">Kölcsönzések összeideje: </span>
            <span th:if="${device.getLoanEntities().size()>0}" style="margin: auto;"
                  th:text="#{deviceProfile.loanAvgTime(${{device.getTotalLoanTime().dividedBy(device.getLoanEntities().size())}})}">
                Kölcsönzések átlag ideje:
            </span>

        </div>
    </div>
    <div class="container" th:if="${session.user.isKiadhat()}">

        <h2>Kölcsönzések</h2>
        <table class="table table-hover table-bordered table-striped table-responsive-lg">
            <thead><tr>
                <th scope="col" th:text="#{deviceProfile.takeUser}">Elvitte</th>
                <th scope="col" th:text="#{deviceProfile.takeDate}">Kikerült</th>
                <th scope="col" th:text="#{deviceProfile.deadline}">Határidő</th>
                <th scope="col" th:text="#{deviceProfile.backDate}">Visszahozta</th>
                <th scope="col" th:text="#{deviceProfile.note}">Note</th>
            </tr></thead>
            <tbody id="tablebody" th:if="${device?.getLoanEntities()?.size()>0}">
                <tr th:each="i: ${#numbers.sequence(device.getLoanEntities().size()-1,0,-1)}"
                    th:with="element=${device.getLoanEntities().get(i)}"
                    th:attrappend="data-taken=${element.getTakeDate()},data-deadline=${element.getBackDatePlanned()}"
                    th:classappend="${element.getBackDateReal()} ? '':'plstimebar'">
                    <td th:text="${{element.getElvitte().getFullName()}}">alma</td>
                    <td th:text="${{element.getTakeDate()}}" class="replace">alma</td>
                    <td th:text="${{element.getBackDatePlanned()}}" class="replace">alma</td>
                    <td th:text="${{element.getBackDateReal()}}" class="replace">alma</td>
                    <td style="display:flex; flex-direction:row;">
                        <p th:id="${element.getId()+'p'}" th:text="${{element.getNote()}}" style="margin: auto">A felét vitte el</p>
                        <button th:id="${element.getId()+'btn'}" class="btn btn-success btn-sm" style="margin-left: auto" onclick="wunderedit(this.id);return 1;">
                            <i class="fas fa-pen" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>