<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="wireframe::head">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>alma</title>
</head>


<body onload="replaceDatesWithNiceStuff();">
<div th:replace="wireframe :: header"></div>
<span th:text="${device.getId()}" id="deviceid" hidden></span>
<script defer type="text/javascript" th:unless="${session.user.isKiadhat()}" th:src="@{~/static/singlerequestbuttondisabler.js}"></script>
<script defer type="text/javascript" th:if="${session.user.isKiadhat()}" th:src="@{~/static/wunderedit.js}"></script>
<div class="container">
    <div class="alert alert-primary" role="alert" th:if="${message}" th:text="${message}"></div>
    <h1 th:text="${device.getName()}"></h1>
    <i>Megjegyzés: Alább egy random cuki kutya látható. Ide majd a cucc fotója jön, de azt még nem írtam meg xd</i>
    <div class="container" style="display: flex;">
        <img src="https://placedog.net/300/300?random" alt="Itt egy kutya kéne hogy legyen" class="rounded">
        <div class="container" style="display: flex; flex-direction: column;">
            <i>Leírás:</i>

            <span th:text="${device.getDescription()}">Eszköz leírása</span>
            <span th:if="${device.isKiadva()}" style="margin-top: auto;">Kiadva</span>
            <span th:unless="${device.isKiadva()}" style="margin-top: auto;">Műhelyben</span>
            <div class="container"  th:if="${session.user.isKiadhat()}">
                <a th:if="${device.isKiadva()}" style="margin: auto;" class="btn btn-success" th:href="${'/loan/return/'+lastloanid}">
                    Visszavesz
                </a>
                <a th:unless="${device.isKiadva()}" th:href="${'/loan/new/'+device.getId()}" style="margin: auto;" class="btn btn-primary">
                    Kiadás
                </a>
                <a th:unless="${device.isKiadva()}" th:href="${'/loan/new/'+device.getId()+'/'+session.user.getId()}" style="margin: auto;" class="btn btn-success">
                    Kivétel
                </a>
                <a th:href="${'/device/edit/'+device.getId()}" style="margin: auto;" class="btn btn-secondary">
                    <i class="fas fa-pen" aria-hidden="true"></i>
                </a>
                <a th:href="${'/device/delete/'+device.getId()}" style="margin: auto;" class="btn btn-danger">
                    <i class="fas fa-trash" aria-hidden="true"></i>
                </a>
            </div>
            <div class="container" style="margin-top: auto;" th:unless="${session.user.isKiadhat()}">
                <a th:href="${'/loan/request/'+device.getId()}" id="requestButton"
                   class="btn btn-primary" style="margin: auto;">
                    Rekvesztálás
                </a>
            </div>
        </div>
    </div>
    <div class="container" th:if="${session.user.isKiadhat()}">
        <h2>Statisztika</h2>
        <div class="container" style="display:flex;">
            <span style="margin: auto;">Kölcsönzések száma: <span th:text="${device.getLoanEntities().size()}"></span> </span>
            <span style="margin: auto;">Kölcsönzések összeideje: <span th:text="${{device.getTotalLoanTime()}}"></span> </span>
            <span th:if="${device.getLoanEntities().size()>0}" style="margin: auto;">Kölcsönzések átlag ideje:
            <span  th:text="${{device.getTotalLoanTime().dividedBy(device.getLoanEntities().size())}}"></span>
        </span>

        </div>
    </div>
    <div class="container" th:if="${session.user.isKiadhat()}">

        <h2>Kölcsönzések</h2>
        <table class="table table-hover table-bordered table-striped table-responsive-lg">
            <thead><tr>
                <th scope="col">Elvitte</th>
                <th scope="col">Kikerült</th>
                <th scope="col">Határidő</th>
                <th scope="col">Visszahozta</th>
                <th scope="col">Note</th>
            </tr></thead>
            <tbody id="tablebody">
            <tr th:each="element: ${device.getLoanEntities()}">
                <td th:text="${{element.getElvitte().getFullName()}}">alma</td>
                <td th:text="${{element.getTakeDate()}}" class="replace">alma</td>
                <td th:text="${{element.getBackDatePlanned()}}" class="replace">alma</td>
                <td th:text="${{element.getBackDateReal()}}" class="replace">alma</td>
                <td style="display:flex; flex-direction:row;">
                    <p th:id="${element.getId()+'p'}" th:text="${{element.getNote()}}" style="margin: auto">A felét vitte el</p>
                    <button th:id="${element.getId()+'btn'}" class="btn btn-success btn-sm" style="margin-left: auto" onclick="wunderedit(this.id);return 1;">
                        <i class="fas fa-pen" aria-hidden="true"></i>
                    </button>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>