<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="wireframe::head">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>alma</title>
</head>
<body onload="loaddevicesroot('0','10')">

<div th:replace="wireframe :: header"></div>


<div class="container" th:if="${message}">
    <h1 th:text="${message}"></h1>
</div>
<div class="container" th:if="${user} == null">
    Helló diló! Jelentkezz be léccy<br>
    <a href="/login" ><button type="button" class="btn btn-primary">Na jó</button></a>
    <a href="/user/registration" ><button type="button" class="btn btn-primary">Regelési</button></a>
</div>
<div class="container" th:if="${user} != null and ${user?.getRoles()?.contains('ROLE_USER')}">
    <div class="form-group">
        <label for="searchTerm">Szörcs</label>
        <input type="email" class="form-control" id="searchTerm"
               placeholder="Krumplipucoló" onkeyup="loaddevicesroot(semcurrentpage,'10')">
    </div>
    <table class="table table-hover table-bordered table-striped">
        <thead>
        <tr>
            <th scope="col">Név</th>
            <th scope="col">Leírás</th>
            <th scope="col">Kölcsönzés</th>
            <th scope="col" th:if="${user !=null and user.isKiadhat()}">Kezelés</th>
        </tr>
        </thead>
        <tbody id="tablebody">

        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item" id="prevbutton"><a class="page-link" onclick="if (!semfirst) loaddevicesroot(--semcurrentpage, '10')">Previous</a></li>
            <li class="page-item" id="nextbutton"><a class="page-link" onclick="if (!semlast) loaddevicesroot(++semcurrentpage, '10')">Next</a></li>
        </ul>
    </nav>

    <br/>
    <a href="/device/new" class="btn btn-block btn-primary">Új eszköz hozzáadása</a>

    <span th:text="${'Verzió:'+@environment.getProperty('git.commit.id.abbrev')+': '+@environment.getProperty('git.commit.message.short')}"></span>

</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>