<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="wireframe::head">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>alma</title>
</head>
<body onload="replaceDatesWithNiceStuff()">

<div th:replace="wireframe :: header"></div>

<div class="container">
    <table class="table table-hover table-bordered table-striped">
        <thead> <tr>
            <th scope="col">Eszköz</th>
            <th scope="col">Kölcsönző</th>
            <th scope="col">Kiadó</th>
            <th scope="col">Visszavette</th>
            <th scope="col">Elvitte</th>
            <th scope="col">Határidő</th>
            <th scope="col">Visszahozta</th>
            <th scope="col">Note</th>
        </tr> </thead>
        <tbody id="tablebody">
        <tr th:each="element: ${loans}">
            <th th:text="${element.getDeviceEntity().getName()}">Mark</td>
            <td th:text="${element.getElvitte().getFullName()}">Mark</td>
            <td th:text="${element.getKiadta().getFullName()}">Mark</td>
            <td th:text="${element.getVisszavette()?.getFullName()}">Mark</td>
            <td th:text="${{element.getTakeDate()}}" class="replace">Mark</td>
            <td th:text="${{element.getBackDatePlanned()}}" class="replace">Mark</td>
            <td th:text="${{element.getBackDateReal()}}" class="replace">Mark</td>
            <td th:text="${{element.getNote()}}">Mark</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>