<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="wireframe::head">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>alma</title>
</head>
<body onload="replaceDatesWithNiceStuff();makeBars()">

<div th:replace="wireframe :: header"></div>

<div class="container">

    <div class="alert alert-primary" role="alert" th:if="${message}" th:text="${message}"></div>

    <table class="table table-hover table-bordered table-striped">
        <thead> <tr>
            <th scope="col" th:text="#{loanList.device}">Eszköz</th>
            <th scope="col" th:text="#{loanList.takeUser}">Kölcsönző</th>
            <th scope="col" th:text="#{loanList.giveUser}">Kiadó</th>
            <th scope="col" th:text="#{loanList.note}">Note</th>
            <th scope="col" th:text="#{loanList.manage}">Dógok</th>
        </tr> </thead>
        <tbody id="tablebody">
        <tr class="plstimebar" th:id="${'loan'+element.getId()}"
            th:each="element: ${loans}"
            th:classappend="${element.isLate()} ? table-danger "
            th:attrappend="data-taken=${element.getTakeDate()},data-deadline=${element.getBackDatePlanned()}">
            <th>
                <a th:text="${element.getDeviceEntity().getName()}" th:href="${'/device/'+element.getDeviceEntity().getId()}"></a>
            </th>
            <td th:text="${element.getElvitte().getFullName()}">Mark</td>
            <td th:text="${element.getKiadta().getFullName()}">Mark</td>
            <td th:text="${{element.getNote()}}">Mark</td>
            <td>
                <a th:href="${'/loan/return/'+element.getId()}" class="btn btn-success" th:text="#{loanList.takeBack}">
                    Visszavesz
                </a>
                <a class="btn btn-warning" th:href="${'/loan/extend/'+element.getId()}" th:text="#{loanList.extend}">
                    Hosszabbít
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>