<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="wireframe::head">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Eszközök</title>
</head>
<body onload="searchdevices()">

<div th:replace="wireframe :: header"></div>

<div class="container">
    <input type="search" id="alma" onkeyup="searchdevices()">
    <div class="list-group" id="results">
        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
        <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
    </div>
    <table class="table table-hover table-bordered table-striped" hidden>
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Név</th>
            <th scope="col">Leírás</th>
            <th scope="col">Dógok</th>
        </tr>
        </thead>
        <tbody id="tablebody">
        <tr th:each="element: ${devices}">
            <th scope="row" th:text="${element.getId()}">1</th>
            <td th:text="${element.getName()}">Mark</td>
            <td th:text="${element.getDescription()}">Mark</td>
            <td>
                <a th:href="${'/loan/new/'+element.getId()}">
                    <button type="button" class="btn btn-primary">Kiadás</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>