<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="wireframe::head">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Eszközök</title>
</head>
<body onload="semcurrentpage=0;loadUsers(0)">

<div th:replace="wireframe :: header"></div>


<div class="container">
    <script defer type="text/javascript" th:src="@{~/static/userSearch.js}"></script>

    <h1 th:text="${device.getName()+' kiadása'}">Lyukrepesztő análfúró kiadása</h1>

    <div class="form-group">
        <label for="searchTerm">Szörcs</label>
        <div class="contanier" style="display: flex;">
            <input type="email" class="form-control" id="searchTerm"
                   placeholder="Szeberényi Imre" onkeyup="loadUsers(semcurrentpage)">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Plebejus/oldal
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <button class="dropdown-item" type="button" onclick="setItemsPerPage('5')">5</button>
                    <button class="dropdown-item" type="button" onclick="setItemsPerPage('10')">10</button>
                    <button class="dropdown-item" type="button" onclick="setItemsPerPage('20')">20</button>
                    <button class="dropdown-item" type="button" onclick="setItemsPerPage('50')">50</button>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-hover table-bordered table-striped">
        <thead> <tr>
            <th scope="col">Email</th>
            <th scope="col">User</th>
            <th scope="col">Actions</th>
        </tr> </thead>
        <tbody id="tablebody">
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item" id="prevbutton"><a class="page-link" onclick="if (!semfirst) loadUsers(--semcurrentpage)">Previous</a></li>
            <li class="page-item"><a class="page-link" id="pageCount"> Alma </a> </li>
            <li class="page-item" id="nextbutton"><a class="page-link" onclick="if (!semlast) loadUsers(++semcurrentpage)">Next</a></li>
        </ul>
    </nav>
</div>
</body>
</html>