<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="wireframe::head">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>alma</title>
</head>
<body>
<div th:replace="wireframe :: header"></div>
<div class="container">
<h1 >Regisztráció</h1>

    <form action="/" enctype="utf8" method="POST" th:action="@{/user/registration}" th:object="${userreg}">
        <div class="form-group">
            <label>Keresztnév</label>
            <input class="form-control" th:field="*{firstName}"/>
            <p th:each="error: ${#fields.errors('firstName')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group">
            <label>Vezetéknév</label>
            <input class="form-control" th:field="*{lastName}"/>
            <p th:each="error : ${#fields.errors('lastName')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group">
            <label>e-mail</label>
            <input class="form-control" type="email" th:field="*{email}"/>
            <p th:each="error : ${#fields.errors('email')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group">
            <label>lyelszó</label>
            <input class="form-control" type="password" th:field="*{password}"/>
            <p th:each="error : ${#fields.errors('password')}"
               th:text="${error}">Validation error</p>
        </div>

        <button class="btn btn-primary" type="submit">Mehet</button>
    </form>
</div>

</body>
</html>